@import 'styles/_reset.scss';

.db__sidebar {
    grid-area: sidebar;
    background: var(--darker-blue);
    box-shadow: var(--sideBar-shadow);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    // overflow: scroll;
    // justify-content: center;
    // padding: var(--padding-l-r);
    // align-items: center;

    @include for-phone-only {
        display: none;
    }

    .logo {
        align-self: center;

        img {
            margin: 1rem 0 3rem 0;
        }
    }

    .sidebar__title {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: var(--width-100);
        user-select: none;
        padding: 12px 10%;
        padding-right: 1%;
        font-size: var(--normal-text);
        font-weight: var(--weight-bold);
        color: var(--text-color);

        &.active {
            padding: 10px 10%;
            background: var(--teal-green);
            color: #fff;
        }

        & ~ .item a {
            display: block;
            padding: 10px 0 10px 3.6rem;
            background-color: var(--night-grey);
            font-size: var(--normal-text);

            &.active {
                font-weight: var(--weight-normal);
                color: var(--semi-white);
            }
        }
    }
}
