.post__container {
    margin-top: 2rem;
    margin-left: 2rem;

    .editor__container {
        background: #ffffff;
        box-shadow: 10px 4px 50px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        width: 60vw;
        height: auto;
    }

    .editor_topbar {
        background: #38ada9;
        box-shadow: 0px 4px 4px #079992;
        width: 60vw;
        height: 10vh;
        padding: var(--X-Y-padding);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: 1rem;
        z-index: 2;

        .btn--preview {
            background: rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
        }

        .btn--publish {
            background: #ffffff;
            color: #111;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .btn--draft {
            background: #079992;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
        }
    }
    .post-aside__container {
        position: fixed;
        right: 4rem;
        top: 12rem;
    }

    .aside--box {
        background: #ffffff;
        box-shadow: 10px 4px 50px rgba(0, 0, 0, 0.05);
        height: 25vh;
        width: 15vw;
        padding: var(--X-Y-padding);
        margin-bottom: 2rem;
    }
}
