@import 'styles/_reset.scss';

.db_create_posts {
    margin: 15px 20px;

    .create_posts_container {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: var(--responsive-grid-1cols);
    }

    .post_editor {
        width: 100%;
        grid-column: 1 / span 2;

        .editor-container {
            .form-inputs {
                background: var(--darker-blue);
                padding: 1.5em 0 1.5em 1.5em;
                // border-radius: var(--br-5px);
                color: var(--semi-white);
                opacity: 0.8;

                &:focus {
                    box-shadow: var(--card-shadow);
                }
            }
            .form-input {
                height: 50px;
                border-left: 1px solid var(--light-cyan);
                font-size: var(--heading-4-24px);
            }
            ::placeholder {
                color: var(--semi-white);
            }

            .editing-area {
                height: 500px;
                margin-top: 1em;
                font-size: var(--normal-text);

                ::-webkit-scrollbar {
                    width: 10px;
                    transition: 0.8;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    background: transparent;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: rgba(101, 113, 116, 0.31);
                    opacity: 0.5;
                    border-radius: var(--br-50px);
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: var(--night-grey-dark);
                }
            }

            .ql-container.ql-snow {
                border-left: 1px solid var(--light-cyan) !important;
                border: none;
            }

            .ql-toolbar.ql-snow {
                border: none;
                border-radius: 5px;
                background: var(--light-cyan);
                padding: 8px;
            }

            .ql-editor.ql-blank::before {
                color: inherit;
                content: attr(data-placeholder);
                font-style: italic;
                pointer-events: none;
                // position: absolute;
            }
        }
    }
}

.aside--container {
    background: var(--night-grey-dark);
    margin-bottom: 2em;
    box-shadow: var(--card-shadow);
    padding: var(--X-Y-padding);
}
