@import 'styles/_reset.scss';

.db_create_posts {
    margin: 15px 20px;

    @include for-phone-only {
        margin: 5px 10px;
    }

    .create_posts_container {
        display: flex;

        .post_editor {
            flex: 3;

            .editor_topbar {
                background: var(--light-primary);
                box-shadow: 0px 4px 4px var(--light-primary);
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .btn {
                    border-radius: 2px;
                    padding: 10px 25px;

                    &.btn--preview {
                        background: rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);

                        &:hover {
                            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
                        }
                    }

                    &.btn--publish {
                        background: #ffffff;
                        color: #111;
                        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
                        margin-left: 1rem;
                        margin-right: 1rem;

                        &:hover {
                            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
                        }
                    }

                    &.btn--draft {
                        background: rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);

                        &:hover {
                            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }

            .editor-container {
                background: #fff;
                padding: 7px 14px;

                .form-input {
                    border-radius: 2px;
                }

                .main-editor {
                    border: 1px solid var(--primary-color);
                    border-radius: 2px;

                    .ql-toolbar {
                        border: none;
                        border-bottom: 1px solid #ccc;
                    }

                    .ql-container {
                        border: none;
                    }

                    .editing-area {
                        min-height: 15em;
                    }
                }
            }
        }

        .post_aside {
            flex: 1;
            margin-left: 15px;

            .aside--container {
                background: #ffffff;
                padding: 15px;
                margin-bottom: 2rem;
                box-shadow: 10px 4px 50px rgba(0, 0, 0, 0.05);

                h3 {
                    font-size: 17px;
                    color: var(--dark--secondary);
                    border-bottom: 1px solid #777;
                }

                .aside-box {
                    margin-top: 10px;

                    .checkbox-title {
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 9rem;
                    }

                    .add-new-link {
                        padding-top: 10px;
                        font-size: 13px;
                        letter-spacing: 0.5px;
                        color: var(--primary-color);
                    }

                    .btn {
                        border-radius: 2px;
                        padding: 7px 15px;
                    }

                    .tag-list {
                        .tag-item {
                            margin: 0px 3px;
                            font-size: 14px;

                            .close {
                                display: inline-block;
                                font-size: 13px;
                                width: 15px;
                                height: 15px;
                                background: red;
                                border-radius: 50%;
                                text-align: center;
                                color: white;
                                vertical-align: middle;
                                line-height: 15px;
                                margin-right: 3px;
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
