@import 'styles/_reset.scss';

.db_create_posts {
    margin: 0px;

    .create_posts_container {
        display: flex;
        padding: 32px 0px;
    }

    .post_editor {
        flex: 2;
        margin-right: 20px;

        .editor-container {
            .form-input {
                background: var(--color0);
                padding: 1.5em 0 1.5em 1.5em;
                border-radius: 0px;
                color: var(--semi-white);
                opacity: 0.8;
                height: 50px;
                font-size: var(--meduim-text);

                &:focus {
                    box-shadow: var(--card-shadow);
                }
            }

            ::placeholder {
                color: var(--semi-white);
            }

            .main-editor {
                .ql-container.ql-snow {
                    border-left: 1px solid var(--light-cyan) !important;
                    border: none;
                    margin-top: 0;
                    height: 300px;
                    background: var(--color0);
                    font-size: var(--body-text);
                    opacity: 0.8;
                    padding: 1em 0.5em;

                    ::-webkit-scrollbar {
                        width: 10px;
                        transition: 0.8;
                    }

                    /* Track */
                    ::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background: rgba(101, 113, 116, 0.31);
                        opacity: 0.5;
                        border-radius: var(--br-50px);
                    }

                    /* Handle on hover */
                    ::-webkit-scrollbar-thumb:hover {
                        background: var(--night-grey-dark);
                    }
                }

                .ql-toolbar.ql-snow {
                    border: none;
                    border-radius: 5px;
                    background: #f1f5fc;
                    padding: 8px;
                }

                .ql-editor.ql-blank::before {
                    color: inherit;
                    content: attr(data-placeholder);
                    font-style: italic;
                    pointer-events: none;
                    // position: absolute;
                }
            }
        }
    }

    .post_aside {
        flex: 1;
        margin-top: 10px;

        .publish-box {
            margin-bottom: 2em;
            padding: var(--X-Y-padding);
            background: var(--color0);

            .status {
                .status-icon {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;

                    &.draft {
                        background: yellow;
                    }

                    &.published {
                        background: green;
                    }
                }

                .status-text {
                    font-size: var(--small-text);
                    color: var(--blue-color);
                }
            }

            .action-btns {
                display: flex;
                justify-content: space-between;
                width: 65%;

                .btn {
                    margin-top: 15px;
                    text-align: center;
                }
            }

            .last-saved {
                margin-top: 18px;
                font-weight: bold;
                font-size: var(--small-text);
            }
        }

        .collapsible-card {
            border-radius: 0;
            box-shadow: none;

            .body {
                margin-bottom: 2em;
                padding: var(--X-Y-padding);

                .add-new-link {
                    font-size: var(--small-text);

                    span {
                        vertical-align: middle;

                        &.plus-icon {
                            font-size: 20px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}
