.btn {
    border: none;
    padding: 9px 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline-color: #079992;
    background: var(--brand-color);
    border-radius: 5px;
}

.btn-outline {
    border: 1px solid var(--brand-color);
    background: none;
    color: var(--brand-color);
}

.btn-lg {
    font-size: 24px;
    padding: 1rem 2rem;
}

.primary--btn {
    background: #0a3d62;
}
