/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // the text
    .checkbox-title {
        font-size: 0.7em;
        position: relative;
        bottom: 2px;
        color: var(--text-color);
    }

    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: #f7f5f5;
        border: 2px solid var(--brand-color);

        &:after {
            content: '';
            position: absolute;
            display: none;

            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid var(--brand-color);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.checkbox-container.outline {
    .checkmark {
        background: transparent;
        border: 1px solid var(--brand-color);
        border-radius: 4px;

        &:after {
            width: 7px;
            border: solid var(--brand-color);
            border-width: 0 2px 2px 0;
        }
    }
}
