.db__header {
    grid-area: header;
    background: var(--teal-green);
    color: var(--semi-white);
    box-shadow: var(--header-shadow);
    position: relative;
    z-index: 4;

    .header-links {
        height: var(--width-100);
        margin: auto;
        display: flex;
        align-content: center;

        .inner-content {
            background: var(--teal-green-dark);
            // width: 60%;
            // margin-left: 10%;
            display: flex;
            padding: 0 15px;
            justify-content: center;

            .item {
                display: flex;
                align-items: center;
                font-size: var(--normal-text);
                color: var(--semi-white);
                padding-inline-end: 4rem;
            }
        }

        .notif-content {
            display: flex;
            align-items: center;
            margin-left: auto;
            padding-right: var(--padding-2em);

            .notif-box {
                color: inherit;
                position: relative;

                .notif-icon {
                    background: var(--red-color);
                    width: 9px;
                    height: 9px;
                    border-radius: var(--br-50pc);
                    position: absolute;
                    right: 1rem;
                    top: 0rem;
                }
            }

            .profile-link {
                color: inherit;
                font-size: var(--normal-text);
                padding-inline-end: var(--padding-1em);
            }
        }
    }
}
