@import 'styles/_reset.scss';

.db__home {
    margin: 0px;

    @include for-phone-only {
        margin: 5px 10px;
    }

    .welcome--card {
        background: var(--white-color);
        position: relative;
        padding: 32px 3%;
        border-radius: 13px;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: var(--responsive-grid-1cols);
        width: 100%;

        .welcome--title {
            font-size: var(--heading-3);
            font-weight: 500;
            color: var(--color4);
            margin-bottom: 10px;
        }

        p {
            font-size: var(--body-text);
            color: var(--color4);
        }

        .close-icon {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            margin: var(--X-Y-padding);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #d51919;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 13px;
                color: #fff;
                margin-inline-end: unset;
            }
        }
    }

    .stats--card {
        background: var(--brand-color);
        padding: 32px 4%;
        margin-top: var(--padding-2em);
        border-radius: 13px;

        & h3 {
            color: var(--white-color);
            margin-bottom: 1.5rem;
        }

        .stats--first-row {
            display: grid;
            grid-template-columns: var(--responsive-grid-1cols);
        }

        .stats--cards {
            background: var(--white-color);
            padding: 12px 7%;
            border-radius: 13px;
            margin-inline-end: var(--padding-2em);
            display: flex;

            .icon-container {
                background: var(--bg-color);
                width: 50px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10%;

                .icon {
                    margin: 0;
                }
            }

            p {
                color: var(--color3);

                &.stats {
                    font-weight: bold;
                    color: var(--color4);
                }
            }
        }

        .stats--second-row {
            display: flex;
        }

        .stats--data {
            flex: 2;
            background: var(--white-color);
            margin-top: var(--padding-2em);
            margin-right: 20px;
            border-radius: 13px;
            padding: 20px 2px;

            h4 {
                color: var(--color3);
                margin: 0px 4px;
                margin-bottom: 1.5rem;
                padding: 7px 25px 10px;
                border-bottom: 1px solid var(--color3);

                span {
                    display: inline-flex;
                    vertical-align: middle;
                    margin-top: -3px;
                }
            }

            img {
                width: 92%;
            }
        }

        .stats--comments {
            flex: 1;
            background: var(--white-color);
            margin-top: var(--padding-2em);
            margin-left: 20px;
            border-radius: 13px;
            padding: 20px 2px;

            h4 {
                color: var(--color3);
                margin: 0px 4px;
                margin-bottom: 1.5rem;
                padding: 7px 25px 10px;
                border-bottom: 1px solid var(--color3);

                span {
                    display: inline-flex;
                    vertical-align: middle;
                    margin-top: -3px;
                    width: 26px;
                    background: var(--dark-purple);
                    border-radius: 50%;
                    padding: 2px 5px;
                    text-align: center;
                    font-size: var(--small-text);
                    color: #fff;
                    font-weight: 400;
                    margin-left: 7px;
                }
            }
        }
    }
}
