@import 'styles/_reset.scss';

.db__home {
    margin: 15px 25px;

    @include for-phone-only {
        margin: 5px 10px;
    }

    .home--cards {
        background: var(--night-grey-dark);
        box-shadow: var(--card-shadow);
    }

    .welcome--card {
        position: relative;
        padding: var(--X-Y-padding);
        border-radius: var(--br-20px);
        margin-top: 15px;
        display: grid;
        grid-template-columns: var(--responsive-grid-1cols);
        width: 100%;

        .welcome--title {
            font-size: var(--heading-4);
        }

        p {
            font-size: var(--normal-text);
            color: var(--text-color);
        }

        .close-icon {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            margin: var(--X-Y-padding);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #d51919;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 13px;
                color: #fff;
                margin-inline-end: unset;
            }
        }
    }

    .flex-container {
        display: flex;
        margin-top: 2%;
        flex-wrap: wrap;

        .first-col {
            flex: 3;
            margin-right: 25px;

            @include for-phone-only {
                margin-right: 0px;
                flex-basis: 100%;
            }

            .glance {
                font-size: var(--normal-text);

                a {
                    display: block;
                }

                p {
                    font-weight: 500;
                }
            }

            .activity {
                padding: 20px 0px;
                border-bottom: 1px solid #171c28;

                p {
                    color: var(--text-color);
                }

                &.post {
                    p {
                        font-size: 14px;

                        a {
                            margin-left: 10px;
                        }
                    }
                }

                .activity--h5 {
                    color: var(--light-cyan);
                    font-weight: var(--weight-normal);
                    letter-spacing: 2px;
                }

                &.comment {
                    .comment_author {
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .comment {
                        font-size: 15px;
                        overflow: hidden;
                        position: relative;
                        line-height: 1.2em;
                        max-height: 2.4em;
                        text-align: justify;
                        padding-right: 1em;

                        &:before {
                            content: '....';
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            width: 1em;
                            height: 1em;
                            margin-top: 0.2em;
                            background: inherit;
                        }
                    }
                }
            }
        }

        .second-col {
            flex: 2;

            .draft {
                input,
                textarea {
                    width: 100%;
                    font-size: var(--normal-text);
                    padding: var(--X-Y-padding);
                    margin: 10px 0px;
                    border: none;
                    border-radius: var(--br-10px);
                    background: var(--bg-color);
                    color: var(--semi-white);
                    opacity: 0.8;

                    &:focus {
                        outline: none;
                        box-shadow: var(--btn-shadow);
                        opacity: 1;
                    }

                    &::placeholder {
                        color: var(--semi-white);
                        opacity: 0.8;
                    }
                }

                input {
                    height: 50px;
                }

                textarea {
                    height: 348px;
                }
            }
        }
    }
}
