// @import './LoginFormStyles/loginForm';

// components
@import './components/buttons';
@import './components/checkbox.scss';
@import './components/form.scss';
@import './components/input.scss';
@import './components/alert.scss';

// utils
@import './reset';

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

.icon {
    font-size: 1.5em;
    margin-inline-end: 0.5em;
}

.center--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Dashboard Layout
.db__container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar main';

    @include for-phone-only {
        grid-template-areas:
            'header header'
            'main main';
    }

    .db__main {
        grid-area: main;
        padding: var(--X-Y-padding);
        width: var(--width-100);
        overflow-y: scroll;
        background: var(--bg-color);
    }

    .page__name {
        font-size: var(--heading-1);
        color: var(--color4);
        font-weight: var(--weight-normal);
    }
}
