@import './LoginFormStyles/loginForm';
@import './Buttons';
@import './reset';

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.center--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// ***  Dashboard Layout *** //
.db__container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar main';
    height: 100vh;

    @include for-phone-only {
        grid-template-areas:
            'header header'
            'main main';
    }

    .db__header {
        grid-area: header;
        background: var(--primary-color);
        color: #fff;
        box-shadow: var(--header-shadow);
        position: relative;
        z-index: 4;
    }

    .db__sidebar {
        grid-area: sidebar;
        background: #ffffff;
        box-shadow: var(--sideBar-shadow);
        // padding: var(--padding-l-r);
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;

        @include for-phone-only {
            display: none;
        }

        & img {
            margin: 1rem 0 4rem 0;
        }
    }

    .db__main {
        grid-area: main;
        padding: 32px 24px;
    }
}

.db__test--content {
    height: 15vh;
    padding: 32px 24px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    margin-top: 5vh;
}

.sidebar__title {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
    width: 100%;

    &:focus {
        background: var(--primary-color);
        color: #fff;
    }
}

.item {
    margin-left: 2.6rem;
}

.icon {
    font-size: 1.5em;
    margin-inline-end: 0.5em;
}
