@import './LoginFormStyles/loginForm';

// components
@import './components/buttons';
@import './components/checkbox.scss';
@import './components/form.scss';
@import './components/input.scss';

// utils
@import './utits.scss';
@import './reset';

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    font-size: 1.5em;
    margin-inline-end: 0.5em;
}

.center--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// ***  Dashboard Layout *** //
.db__container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar main';
    height: 100vh;

    @include for-phone-only {
        grid-template-areas:
            'header header'
            'main main';
    }

    .db__main {
        grid-area: main;
        padding: 32px 24px;
        overflow-y: scroll;
        background: #f9f9f9;

        .page__name {
            font-size: 24px;
        }
    }
}
