.btn {
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    outline-color: #079992;
    text-align: center;
}

.primary--btn {
    background: #0a3d62;
    border-radius: 5px;
}
