:root {
    /* Colors */
    --primary-color: #079992;
    --light-primary: #38ada9;
    // lighting(#079992, 40%)
    --secondary-color: #0a3d62;
    --dark--secondary: #0a3d62;
    --text-color: #6b7a90;

    /* Box Shadows */
    --sideBar-shadow: 3px 0px 50px rgba(0, 0, 0, 0.11);
    --header-shadow: 0px 4px 50px rgba(0, 0, 0, 0.11);

    /* background reset */
    --bg-no-repeat: no-repeat;
    --bg-center-X-Y: center center;
    --bg-cover: cover;
    --bg-contain: contain;

    /* Grid Theming */
    --g-temp-col-1: repeat(1, 1fr);
    --g-temp-col-2: repeat(2, 1fr);
    --g-temp-col-3: repeat(3, 1fr);
    --g-temp-col-4: repeat(4, 1fr);

    /* Padding */
    --X-Y-padding: 32px 24px;
    --padding-l-r: 0 1em 0 1em;
    --padding-1em: 1em;
    --padding-2em: 2em;
    --padding-4em: 4em;
    --padding-8em: 8em;

    /* Border radius */
    --br-5px: 5px;
    --br-10px: 10px;
    --br-50pc: 50%;
    --br-tl-tr: 40px 40px 0px 0px;

    /* Button Styles */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Montserrat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #111;
    position: relative;
    line-height: 2;
    font-weight: 400;
    overflow-x: hidden;
    font-size: calc(14px + 0.25vw);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
