@import './Theme.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg-color);
    color: var(--color4);
    position: relative;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    font-size: calc(14px + 0.25vw);
}

.btn {
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--btn-shadow);
    transition: ease-in-out 0.5s;

    &:hover {
        box-shadow: var(--btn-hover-shadow);
    }
}

.primary--btn {
    background: var(--primary-gradient);
}

.secondary--btn {
    background: var(--forest-teal);
}

.avatar {
    border-radius: var(--br-50pc);
    object-fit: cover;
}
.avatar--150 {
    width: 150px;
    height: 150px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: 0.8;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    opacity: 0.5;
    border-radius: var(--br-50px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
