.collapsible-card {
    background: var(--night-grey-dark);
    box-shadow: var(--card-shadow);
    margin: 20px 0px;
    border-radius: var(--br-tl-tr);

    .header {
        display: flex;
        justify-content: space-between;
        border-radius: var(--br-tl-tr);
        background: var(--darker-blue);
        color: var(--semi-white);
        padding: 15px 20px;
        cursor: pointer;

        h4 {
            font-size: var(--normal-text);
        }

        .collapse-control {
            display: flex;
            align-items: center;
        }
    }

    .body {
        padding: var(--X-Y-padding);

        &.collapsed {
            display: none;
        }
    }
}
